<div class="tren-question tren-content tren-content--light-bg">
    <div class="container">
        <h3 class="tren-question__headline is-center">Pertanyaan yang Biasa Ditanyakan</h3>
        <div class="tren-question__content">
            <button class="qa-button">Daftar PayTren kenapa harus bayar?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <p>Karena PayTren bukan sekedar aplikasi pembayaran. Aplikasi PayTren merupakan aplikasi premium yang dikembangkan dengan serius oleh perusahaan sehingga memiliki fitur berbeda yang tidak akan anda dapatkan diaplikasi lain.</p>
            </div>
            <button class="qa-button">Daftar 350.000 dapat apa saja?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <ul>
                    <li>Dapat ID keanggotaan , pasword dan PIN transaksi</li>
                    <li>Dapat deposit awal Rp 15.000</li>
                    <li>Maksimal isi deposit sampai Rp. 5.000.000 rupiah</li>
                    <li>Maksimal Transaksi dalam 1 bulan sampai Rp. 20.000.000 rupiah</li>
                    <li>Berhak menjalankan bisnis dengan Potensi Komisi Leadership Rp. 300.000 PERHARI</li>
                    <li>Berkesempatan dapat Rewad hanya 1x HP Android , Netbook , Motor , Umroh , Mobil , Rumah , Mobil Mewah , Rumah Mewah</li>
                </ul>
                <p>Untuk meningkatkan kuota deposit, limit transaksi serta kapasitas bisnis, anda dapat menambah jumlah lisensi hingga 31 lisensi.</p>
            </div>
            <button class="qa-button">Apakah saya langsung mendapat saldo Rp. 350.000?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <p>TIDAK. seperti yang kami telah jelaskan sebelumnya. 350rb itu hanya untuk beli lisensi aplikasi PayTren. Akan tetapi nanti Anda akan diberikan bonus saldo sebesar 15rb agar begitu teraktivasi Anda langsung bisa mempraktekan cara transaksi.</p>
            </div>
        </div>
    </div>
</div>