<div class="cover-image" style="background-image: url({{ $baseurl := .Site.BaseURL }}/images/treni-video-background.jpg)">
    <div class="tren-video container">
        <header class="tren-sub-title">
            <h3 class="video-title">Rata-Rata 97% Orang Memahami PayTren Setelah Menonton Video Ini. Giliran Anda Sekarang!</h3>
        </header>
        <div class="tren-youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x6GotmPjWTY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<div class="tren-user tren-sub-title tren-title__bg">
    <div class="container">
       <h2 class="tren-user__know tren-title--light">Tahukah Anda?</h2>
        <h3 class="tren-user__title tren-title--light">Saat ini PayTren Telah Digunakan Lebih Dari 1.7 Juta Orang Di 5 Benua dan Akan Terus Bertambah</h3>
        <p class="tren-title--light">Membuktikan banyak masyarakat  terbantu dan merasakan manfaat serta keuntungan PayTren. Berbagai macam transaksi dengan mudah cukup via Handphone kapan dan dimana saja.</p>
    </div>
</div>
