<article class="post-feed clearfix">

    {{ if .Params.thumbnail }}  
    <div class="post-feed__media">
        <a href="{{ .Permalink }}" class="post-link">
            <figure>
                <img class="post-image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
            </figure>
        </a>
    </div>
    {{ end }}

    <div class="post-feed__body">
        <div class="post-feed__content">
            <header class="post-feed__header">
                <a class="post-feed__link" href="{{ .Permalink }}"><h3 class="post-feed__title">{{ .Title }}</h3></a>
                
                {{ partial "post-meta.html" . }}
                
            </header>   

            <div class="post-feed__summary">
                <p class="post-feed__excerpt">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}</p>
            </div> 
        </div>
    </div>
</article>