/* Sidebar Area
/* ---------------------------------------------------------- */
.widget-post {
    margin-bottom: 1.5em;
}
.widget-post__media {
    float: left;
    width: 80px;
    padding-top: 6px;
    
}
.widget-post__body {
    margin-left: 98px;
}
.widget-post__link:hover {
    text-decoration: none;
}
.widget-post__title {
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 0.5em;
    
    &:hover {
        color: var(--link-color);
    }
}
.widget-author {
    border: 1px solid var(--border-color);
    padding: 1em 2em;
    margin-bottom: 2em;
    
    & .widget-title {
        text-align: center;
    }
}
.widget-author__thumb {
    margin-bottom: 1.5em;
}
.widget-contact {
    & label {
        display: inline-block;
        width: 86px;
    }
    
    & span {
        font-weight: 500;
        margin-left: 8px;
    }
}