<div class="tren-page cover-image is-cover-fixed" style="background-image: url({{ $baseurl := .Site.BaseURL }}/images/paytren-cover.jpg)">
    <div class="tren-cover container">
        <div class="tren-info is-fixed-content">
            <h2 class="tren-info__text tren-headline">Pake <span class="tren-color">PayTren</span> Lebih Mudah, Hemat, dan Bermanfaat</h2>
             <h3 class="tren-info__text tren-desc">Aplikasi PayTren dapat mempermudah transaksi, memperkaya edukasi dan memperluas rezeki</h3>
            <h4 class="tren-info__text tren-motto">Transaksi Apa Saja <span class="tren-color">#PayTreninAja</span></h4>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>

<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h3 class="tren-title__box tren-title--light">Saatnya Hijrah untuk Mengubah Hidup Anda Lebih Bermanfaat, dan Berpenghasilan Melimpah serta Berkah Bersama PayTren!</h3>
    </div>
</div>
<div class="tren-intro">
   <div class="container">
        <div class="tren-intro__media tren-box">
            <div class="tren-intro__image">
                <figure>
                    <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/smartphones-paytren.png" alt="manfaat aplikasi paytren">
                </figure>
            </div>
        </div>
       <div class="tren-content">
           <h2 class="tren-intro__title tren-center">Apa Itu PayTren?</h2>
            <p>PayTren adalah Terobosan Terbaru di Dunia FINTECH (Financial Technology) Indonesia Saat ini. Yang mana adalah Peluang Bisnis yang mengedepankan Kemudahan dalam bertransaksi baik itu Bayar-Bayar dan Beli-Beli hanya dengan menggunakan Smartphone. Dengan Konsep Jejaring dan Direct Selling, PayTren membantu Mitra-Mitra Bisnisnya menjadi Seorang Pengusaha atau Pebisnis Digital saat ini, yang SUKSES dan Tentunya BERKAH Hidupnya.</p>

            <p>Sungguh Luar Biasa untuk Ustadz Yusuf Mansur yang mendirikan PayTren bukan untuk Kepentingan Dirinya Sendiri tapi Untuk Kesejahtraan Umat, Bangsa, dan Negara. Insya Allah PayTren ini Produk Karya anak Negeri yang bisa membantu Setiap Mitranya untuk kemudahan Transaksi ataupun Berbisnis. Dan Perlu diketahui Bahwa PayTren ke Depan Akan Ikut Bekerjasama dengan Pemerintah untuk memajukan Cashless Society bagi Rakyat Indonesia di Era Digital Saat ini. Apalagi PayTren sudah SIAP menjadi Perusahaan Kelas Dunia, ini terbukti bahwa PayTren sudah Kerjasama dengan Perusahaan CELLUM (Hongaria) dan ALCATEL (Perancis). Jadi Semakin Besar PayTren Manfaatnya Bagi Indonesia Bahkan Dunia, Maka Mitra PayTren yang benar-benar akan diuntungkan dan bersama untuk SUKSES BERSAMA PAYTREN.</p>
       </div>
   </div>
</div>