<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title__box tren-title--light">Benarkah Bisnis PayTren Sesuai Dengan Syariah?</h2>
    </div>
</div>

<div class="tren-syari tren-content--light-bg">
    <div class="container">
        <div class="tren-syari__media tren-box">
            <div class="tren-syari__video tren-youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zI-JNag4L3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="tren-content">
            <p>Dalam menjalankan Suatu Bisnis, tentunya Kita Harus memperhatikan Aspek yang terpenting yaitu Apakah Halal dan Sudah memenuhi Kaidah-kaidah Syariah? Jika sudah memenuhi kaidah-kaidah Syariah, Insya Allah bisnis yang dijalankan Halal sehingga Insya Allah Berkah dalam bisnis tersebut.</p>
            
            <h4>Bagaimana dengan PayTren? Apakah Sudah SYARIAH dan HALAL?</h4>

            <p>Alhamdulillah, atas izin Allah SWT pada Tanggal 7 Agustus 2017, PayTren sudah dinyatakan bersertifikat Syariah oleh Dewan Syariah Nasional – Majelis Ulama Indonesia (DSN – MUI) sehingga ini menepis isu-isu miring diluar sana yang meragukan kesyariahan PayTren. Penyerahan Sertifikat Syariah ini langsung diberikan oleh Prof. Dr. (H.C.) KH. Ma’ruf Amin kepada Ustadz Yusuf Mansur.</p>

            <p>Setelah PayTren mendapatkan Izin Syariah DSN MUI ini, maka PayTren akan menjadi satu-satunya perusahaan Fintech Syariah Pertama di Indonesia, Manajemen Investasi Syariah Pertama di Indonesia, Direct Selling Syariah Pertama di Indonesia, dan ke depan akan mengajukan menjadi E-Money Syariah Pertama di Indonesia.</p>

            <p>Ini akan menjadi Terobosan di Dunia Fintech dan E-Money di Indonesia, karena Insya Allah PayTren akan menjadi Perusahaan dengan Sistem Bisnis Syariah di Indonesia yang mengedepankan keuntungan dikedua belah pihak antara Mitra dan Perusahaan, sehingga tidak akan ada kerugian dari pihak mana pun. Dan bukan Hal yang mustahil ke depan PayTren akan menjadi Perusahaan Syariah kelas Dunia yang benar-benar dibutuhkan oleh setiap Insan di Dunia dengan mengutamakan Kemudahan Transaksi dan Berjuta Manfaat di dalamnya.</p>
        </div>
    </div>
</div>