<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Apa Keuntungan Pakai PayTren dan Bisnis PayTren?</h2>
    </div>
</div>
    
<div class="tren-working tren-content tren-content--light-bg">
    <div class="container">
         <div class="tren-feature__extra clearfix">
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Transaksi lebih mudah, murah, dan praktis dibandingkan Anda harus transaksi di konter. Tanpa jalan kaki, tanpa keluar ongkos dan tanpa kena biaya parkir.</li>
                    <li>Mendapat cashback dari setiap transaksi pribadi dan cashback transaksi komunitas.</li>
                    <li>Setiap transaksi yang Anda lakukan dengan PayTren bernilai sedekah karena 100% keuntungan perusahaan yang tidak dibagikan kepada mitra disedekahkan untuk kepentingan umat. InsyaAllah berkah, bisnis sambil sedekah.</li>
                    <li>Terdapat fasilitas fitur extra yang dapat dimanfaatkan seperti DOKU (transfer, tarik tunai, belanja), PayTren Academy, Selamat Morning Indonesia, i-buk store, PayTren Messenger, Inspirasi UYM.</li>
                </ul>
            </div>
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Mendapat komisi setiap berhasil menjual lisensi PayTren dan berkesempatan mendapat REWARD mulai dari HP, trip Singapore, motor, umroh, mobil, hingga rumah.</li>
                    <li>Banyak mitra afiliasi PayTren yang bisa Anda ikuti seperti PayTren umroh merdeka, loket PayTren, BelanjaQu, produk finansial Treni, PayTren TV, dll.</li>
                    <li>Program dan fitur PayTren terus dikembangkan mengikuti perkembangan jaman.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Bagaimana Cara Kerja Bisnis PayTren?</h2>
    </div>
</div>
    
<div class="tren-working tren-content tren-content--light-bg">
    <div class="container">
        <h4 class="tren-working__headline">Cara Kerja Bisnis Paytren sangat Sederhana, Ada 2 Cara Yang Bisa Anda Lakukan:</h4>
        <div class="tren-working__content">
            <ol>
                <li>
                    <p>Dengan <b>mengalihkan kebiasaan transaksi pengeluaran rutin</b> anda seperti: beli pulsa, bayar PLN, PDAM, Telkom, dll yang biasanya anda bayar melalui counter, banking, dll ke aplikasi PayTren, karena melalui aplikasi ini banyak keuntungan dan manfaat yang bisa didapatkan.</p>
                    <p>Dan yang paling menarik yaitu, dari setiap transaksi yang anda lakukan, anda akan mendapat cashback (bonus) dari setiap transaksinya. ENAK BANGET KAN...!</p>
                </li>
                <li>
                    <p>Dengan <b>menjalankan bisnisnya</b> melalui program "CRP" ( CUSTOMER REFERRAL PROGRAM ). Jika Anda menjalankan program CRP ini, anda mempunyai potensi untuk memiliki tambahan penghasilan yang bisa anda tentukan sendiri besarnya. Artinya, ketika anda Rajin dan Bekerja Keras, maka hasil yang akan anda dapatkan pun akan sebanding dengan kerja keras anda.</p>
                    <p>Program CRP inilah yang dijalankan oleh para <b>Mitra Bisnis PayTren</b> untuk mendapatkan <b>penghasilan jutaan rupiah</b> dari bisnis <span class="treni-color">PayTren</span>.</p>
                    <p>Jika anda mengikuti program CRP ini, tugas utama anda sebagai Mitra Bisnis PayTren yaitu  menjual lisensi aplikasi PayTren ( aplikasi bayar-bayar berbasis OS Android dan iPhone ) ke pengguna smartphone dimanapun berada dengan harga lisensi yang sudah ditentukan oleh perusahaan PayTren ( paket lisensi basic seharga Rp. 350.000 ). Kemudian keuntungan Mitra Bisnis PayTren itu didapat dari komisi penjualan per lisensi sebesar Rp. 75.000,- yang diberikan oleh perusahaan PayTren.</p>
                </li>
            </ol>
        </div>
    </div>
</div>