<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

    <title>{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ with $.Site.Data.setting }} {{ .site_title }} {{ end }}</title>
    {{.Hugo.Generator}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ with $.Site.Data.setting }}{{ .pengguna.name }}{{ end }}">

    <meta name="description" content="{{ if .IsHome }}{{ with $.Site.Data.setting }}{{ .site_description }}{{ end }}{{ else }}{{ .Description }}{{ end }}"/>

    {{ partial "seo.html" . }}

    <link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL}}">
    <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | relURL}}" />

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserat|Lora">
    <link rel="stylesheet" type="text/css" href="{{ "css/theme.min.css" | relURL}}" />

    {{ partial "semantic.html" . }}

    {{ with $.Site.Data.setting }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ .googleAnalyticsUserID }}', 'auto');
        ga('send', 'pageview');
    </script>
    {{end}}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>